name: package-validate

on:
  push:
    tags:
      - v*
    branches:
      - main
  pull_request:

jobs:
  validate:
    name: Validate packages
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1 https://github.com/actions/checkout/releases/tag/v5.0.1
      - run: |
          set -e
          curl -sLo cardano-up $(curl -s https://api.github.com/repos/blinklabs-io/cardano-up/releases/latest | grep "browser_download_url.*linux-amd64" | cut -d: -f2,3 | tr -d \")
          chmod +x cardano-up
      - run: ./cardano-up validate -D
