name: package-validate

on:
  push:
    tags:
      - v*
    branches:
      - main
  pull_request:

jobs:
  validate:
    name: Validate packages
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2 https://github.com/actions/checkout/releases/tag/v6.0.2
      - name: Validate filename/content version consistency
        run: ./scripts/validate-versions.sh
      - name: Download cardano-up
        run: |
          set -e
          curl -sLo cardano-up $(curl -s https://api.github.com/repos/blinklabs-io/cardano-up/releases/latest | grep "browser_download_url.*linux-amd64" | cut -d: -f2,3 | tr -d \")
          chmod +x cardano-up
      - name: Validate packages
        run: ./cardano-up validate -D
